<div class="content-page">
    <div class="container">
        <div class="product-block">
            <div class="product-block__img">
                <img style="border: 1px solid #929eaf" height="460px"
                    width="420px"
                    src="assets/img/categories/colon.svg"
                    alt="conditioner" />
            </div>
            <div class="product-block-content">
                <span class="product-block-content__title">Сплит-система
                    (инвертор)
                    Haier HSU-12HTM103/R3(DB)</span>
                <span style="margin-bottom:20px;">Артикул: 1234567890</span>
                <span class="product-block-content__status">В наличии</span>
                <span style="margin-bottom: 20px;"
                    class="product-block-content__descrption">Данна модель
                    обеспечивает приятный микроклимат в помещении
                    площадью до 70 кв. м., оборудована системой, в состав
                    которой
                    входят антиаллергенный, антибактериальный и угольный
                    фильтры.</span>
                <div class="prices-block">
                    <div class="prices-block__oldPrice">56 990 ₽</div>
                    <div class="prices-block__newPrice">45 990₽</div>
                </div>
                <div class="products-button">
                    <button class="products-button__edit">Редактировать</button>
                    <button class="products-button__delete">Удалить</button>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="content-buttons">
                <button class="content-buttons__description">Описание</button>

                <button
                    class="content-buttons__characters">Характеристики</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>