.product-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px 0px;

  &__img {
    display: flex;

    .product-block-otherImg {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 30px;

      .little-img {
        width: 100px;
        height: 100px;

        &:hover {
          border: 1px solid #ff8a00;
        }
      }
    }
    .main-img {
      border: 1px solid #ff8a00;
      height: 460px;
      width: 420px;
    }
  }
}

.product-block-content {
  display: flex;
  flex-direction: column;
  width: 498px;

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  &__status {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #48b86e;
    margin-bottom: 20px;
  }

  .prices-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 26px;
    border-bottom: 1px solid #929eaf;

    &__oldPrice {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      color: #929eaf;
      margin-right: 36px;
    }

    &__newPrice {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      color: #000000;
    }
  }

  .products-button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    &__back {
      cursor: pointer;
      color: white;
      background: linear-gradient(91.3deg, #0d0dff 21.07%, #2222b1 102.35%);
      border-radius: 20px;
      font-size: 14px;
      height: 50px;
      border: none;
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #191988;
      }
    }
  }
}

.content-block {
  margin-bottom: 20px;

  .content-buttons {
    margin-bottom: 24px;
    border-bottom: 1px solid #ff8a00;
    display: flex;

    &__description {
      width: 300px;
      padding: 8px;
      border: 1px solid #ff8a00 !important;
      color: #ff8a00;
      background: white;
      margin-right: 20px;

      // &:hover {
      //   background: #ff8a00;
      //   color: white !important;
      // }
    }
    .-activeButton {
      background: #ff8a00;
      color: white !important;
    }

    .-defaultButton {
      color: #ff8a00;
      background: white;
    }

    &__characters {
      width: 300px;
      padding: 8px;
      // background: #ff8a00;
      border: 1px solid #ff8a00;
      border-radius: 0px 3px 0px 0px;
      // color: white;
    }
  }

  .content-block-items {
    display: flex;
    justify-content: space-between;

    .content-items {
      margin-bottom: 20px;
      label {
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0 10px 0;
      }

      &__value {
        display: flex;
        justify-content: space-between;

        .text {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 300;
          color: #78797a;
          margin: 0 20px 10px 0;
        }
      }
    }
  }
}
