<div class="categories-page" [ngStyle]="{'background' : '#f0f4fa'}">
    <div class="container block-categories">
        <div class="categories">
            <div class="categories-title">
                Категории
            </div>
            <div
                class="categories-items">
                <div
                    class="item-block"
                    *ngFor="let item of categoriesItems; let i = index ">
                    <div class="item-block__img">
                        <img src="{{item.img}}" />
                    </div>
                    <div class="item-block__name">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>