.block-categories {
  display: flex;
  justify-content: center;
  padding: 100px 0;

  .categories-title {
    margin-top: 25px;
  }
  .categories-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item-block {
      background: white;
      border: 1.5px solid #929eaf;
      box-sizing: border-box;
      border-radius: 5px;
      width: 270px;
      margin-right: 30px;
      display: flex;
      align-items: center;
      padding: 22px 12px;
      margin-bottom: 30px;
      width: 370px;
      height: 150px;

      &:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
        // background: rgb(219, 219, 219);
      }

      &__name {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 20px;
        color: #000000;
        margin-left: 16px;
      }
    }
  }
}
