.block-company-info {
  font-family: "Montserrat";
  position: relative;
  // height: 100%;
  // width: 100%;
  background: rgb(31, 31, 59);
}

.content-page {
  color: white;
}

.company-block-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  // margin-bottom: 86px;
  margin-bottom: 120px;
  // width: 770px;
  // margin-left: 12%;
}
.company-block-title {
  padding-top: 34px;
  .categories-title {
    color: white;
    margin-bottom: 60px !important;
  }
}

.company-advertising {
  display: flex;
  justify-content: space-between;
  // height: calc(100vh - 581px);
  padding-bottom: 56px;
}

.company-advertising-items {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;

  &__value {
    display: flex;
    font-size: 40px;
  }

  &:hover {
    color: #ff8a00;
  }
}

.company-info-block {
  padding: 90px 0px;
  display: flex;
  justify-content: space-between;
  color: black;

  .company-info {
    width: 470px;
    &__text {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 20px;
    }
  }
}

.producenci-block {
  display: flex;
  flex-direction: column;
  padding: 104px 0;

  .categories-title {
    margin-bottom: 64px;
  }

  .producenci-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.service-block {
  display: flex;
  justify-content: space-evenly;
}

.box {
  position: relative;
}

.box-container {
  width: fit-content;

  &__description {
    background: #ff8a00;
    border-radius: 0px 0px 5px 5px;
    color: white;
    font-size: 24px;
    padding: 30px 50px;
    width: 368px;
    border: none;
  }
}

.company-services .box-container .info {
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  background: rgb(121, 119, 119);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  &__button {
    height: 51px;
    background: #e1e1e1;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    font-size: 18px;

    &:hover {
      color: #ff8a00;
      background: white;
    }
  }
}

.company-services {
  padding: 60px 0;
}

.company-services .box-container:hover .box .info {
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 1200px) {
  .company-advertising {
    display: none;
  }

  .block-company-info {
    padding: 20px;
  }
  .company-info-block {
    padding: 20px !important;
  }
  .company-info {
    margin-bottom: 20px;
  }

  .service-block {
    display: block;
  }

  .box-container {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1088px) {
  .company-info-user,
  .company-advertising-items {
    display: none;
  }

  .categories-items {
    justify-content: flex-start;
  }

  .services-info {
    flex-direction: column;

    .company-services {
      margin-bottom: 20px;

      &__description {
        width: 370px;
        padding: 10px 44px;
      }
    }
  }

  tui-svg {
    width: 130px !important;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .block-title {
    margin-left: 14px;
  }

  .company-block-text {
    font-size: 19px !important;
  }
  .company-block-text {
    font-size: 19px !important;
  }
}

@media (max-width: 676px) {
  .isVisibleBlock {
    display: none;
  }
}

@media (max-width: 392px) {
  .box {
    width: 346px;
    img {
      width: 346px !important;
    }
  }
  .box-container__description {
    width: 346px !important;
  }
}

// ::ng-deep .fill-color:hover {
//   color: red !important;
//   background: red !important;
// }
