<main class="content-page">
    <div class="block-company-info"
        [ngStyle]="{'background' : 'url(assets/img/company/background.jpg)'}">
        <div class="container">
            <section class="company-block">
                <div class="company-block-title">
                    <div class="categories-title">О компании</div>
                </div>
                <section class="company-block-text">
                    <span>
                        <a>«АСМ Инжиниринг» — российский интернет-магазин,
                            специализирующийся на продаже сплит-систем
                            отечественного и
                            зарубежного производства.<br> Основная задача
                            «АСМ
                            Инжиниринг» —
                            сделать путь клиента от выбора товара до
                            совершения
                            покупки
                            и получения заказа максимально простым и
                            удобным.
                        </a>
                        <br>
                        <a>Наша компания официальный представитель всех
                            торговых
                            марок,
                            представленных в каталоге, реализуемое
                            оборудование
                            находится на гарантийном обслуживании в
                            официальных
                            сервисных центах, расположенных по всей
                            России.</a>
                        <br>
                        <a>
                            Благодаря прямому сотрудничеству с ведущими
                            мировыми
                            и
                            российскими поставщиками, ценообразование
                            соответствует
                            установленным ценам производителей.</a>
                        <br>
                        <a>
                            Создать атмосферу комфорта в любое время года
                            можно
                            при
                            помощи правильно подобранного оборудования. Мы
                            будем
                            рады
                            помочь Вам в реализации объекта любой сложности
                            - от
                            квартиры или частного дома до коммерческих и
                            промышленных
                            помещений.
                        </a>
                    </span>
                </section>
                <div class="company-advertising">
                    <div data-aos="fade-up"
                        data-aos-duration="1000"
                        class="company-advertising-items"
                        *ngFor="let item of companyItems">
                        <span
                            class="company-advertising-items__title">{{item.title}}</span>
                        <span
                            class="company-advertising-items__value">{{item.value}}</span>
                    </div>
                </div>
            </section>
        </div>
    </div>




    <section class="container company-info-block">
        <img class="company-info-user"
            src="assets/img/company/company-people.jpg" />
        <div class="company-info">
            <header class="block-title">
                С нами надежно
            </header>
            <span class="company-info__text">На сегодняшний день нами продано
                более 25 000+ товаров и этот
                показатель постоянно увеличивается благодаря нашим клиентам,
                которые ценят высокий уровень сервиса и оперативность выполнения
                поставленных перед нами задач.<br>
                Наша компания заботится о своей репутации, для нас крайне важно,
                чтобы клиенты, обратившиеся к нам, были максимально довольны
                нашей работой и надежностью оборудования. Только у нас вы
                сможете купить кондиционер в Ростове-на-Дону недорого напрямую
                от производителя. </span>
        </div>
    </section>
    <app-categories></app-categories>
    <section class="container company-services">
        <header class="block-title">Наши услуги</header>
        <section class="container service-block">
            <div class="box-container" *ngFor="let cond of companyConditioners">
                <div class="box">
                    <img style=" width: 368px;" src="{{cond.icon}}">
                    <div class="info">
                        <button class="info__button"
                            routerLink="/attendance">Подробнее
                            <img style="margin-right: 30px"
                                src="assets/img/company/conditioners/arrow-right.svg" /></button>
                    </div>
                </div>
                <button
                    class="box-container__description">
                    {{cond.description}}
                </button>
            </div>
        </section>


    </section>
    <div class="block isVisibleBlock" [ngStyle]="{'background' : '#f0f4fa'}">
        <div class="container producenci-block">
            <header class="categories-title">Производители кондиционеров
            </header>
            <div class="producenci-info">
                <div class="producenci-info-item"
                    *ngFor="let mark of conditionersMarks">
                    <!-- <img src="{{mark.icon}}" /> -->
                    <tui-svg class="mark-icon" style="width: 210px"
                        src="{{mark.icon}}"></tui-svg>

                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</main>