<main class="main-page ">
    <header class="main-info-block container">
        <div class="info-block container">
            <aside class="info-block__title">
                Продажа и установка систем кондиционирования
            </aside>
            <section class="info-block__description">
                “АСМ Инжиниринг” поможет создать
                Вам комфортный микроклимат в помещении любого назначения в
                г.
                Ростове-на-Дону
            </section>
            <button class="info-block__application">Перейти в
                каталог</button>

            <section class="feedback-block" data-aos="fade-up"
                data-aos-duration="1000">
                <div class="feedback-block__item">
                    <tui-svg src="assets/img/main/support.svg"></tui-svg>
                    <a href="company" class="text">Мы поможем вам с
                        выбором</a>
                </div>
                <div class="feedback-block__item">
                    <tui-svg src="assets/img/main/setting.svg"></tui-svg>
                    <a href="attendance" class="text">Установим вашу
                        сплит-систему</a>
                </div>
            </section>
        </div>
        <div class="main-info-block-img">
            <img src="../../../assets/img/main/bc-or.jpg" alt="backgroun-logo">
            <!-- <img src="assets/img/main/orange-background.svg"> -->
            <!-- <img class="application-img" src="assets/img/conditioner.svg" /> -->
        </div>
    </header>

    <section class="banner">
        <div class="header">
            <div class="header-price">
                <article class="header-price__new">45 990 ₽</article>
                <span class="header-price__old strikethrough">56 990
                    ₽</span>
            </div>
            <div class="header__bridge">
                Товар месяца
            </div>
        </div>
        <div class="info">
            <div style="margin-bottom: 6px" class="info__description">
                Кондиционер Kentatsu KSGB53HZAN1/KSRB53HZAN1
            </div>
        </div>
        <div class="banner__footer">
            <button (click)="route('products')" class="footer__basket">В
                корзину</button>
            <tui-svg (click)="isHeartActive = !isHeartActive"
                [ngClass]="isHeartActive === true ?  '-heartActive' : 'import-button'"
                [src]="'assets/img/products/heart.svg'">
            </tui-svg>
        </div>
    </section>
</main>