.main-page {
  font-family: "Montserrat";
  position: relative;
}

.main-info-block {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;

  .info-block {
    &__title {
      font-weight: 500;
      color: #000000;
      font-size: 48px;
      margin-bottom: 40px;
    }

    &__description {
      font-weight: lighter;
      font-size: 24px;
      color: #000000;
    }

    &__application {
      margin-top: 70px;
      width: 370px;
      background: linear-gradient(91.61deg, #ff8a00 3.93%, #ffd600 88.05%);
      box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
      border-radius: 5px;
      height: 64px;
      color: white;
      font-weight: 600;
      border: 0;
      font-size: 22px;

      &:hover {
        background: rgb(240, 165, 4);
      }
    }
  }
}

.main-info-block {
  position: relative;

  .application-img {
    width: 612px;
    height: 700px;
    position: absolute;
    left: 70%;
    bottom: 23%;
  }
}
.banner {
  position: absolute;
  top: 56%;
  left: 68%;
  padding: 10px 20px;
  width: 320px;
  height: 230px;
  font-weight: 500;
  background-color: white;
  border: 1.5px solid #929eaf;
  box-sizing: border-box;
  border-radius: 5px;

  .header {
    display: flex;
    justify-content: space-between;

    .header-price {
      display: flex;
      align-items: center;

      &__new {
        font-size: 24px;
        color: #000000;
        margin-right: 28px;
      }

      &__old {
        font-size: 16px;
        color: #929eaf;
      }
    }

    &__bridge {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #ffffff;
      width: 60px;
      height: 60px;
      margin-top: -28px;
      border-radius: 50%;
      background: linear-gradient(141.62deg, #0d0dff 20.95%, #003f86 86.46%);
    }
  }

  .info {
    &__previus {
      font-size: 16px;
      color: #929eaf;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid #929eaf;
    padding-top: 22px;

    &__basket {
      background: linear-gradient(91.3deg, #0d0dff 21.07%, #2222b1 102.35%);
      border-radius: 5px;
      width: 240px;
      height: 46px;
      border: none;
      color: white;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      &:hover {
        cursor: pointer;
        background: linear-gradient(91.3deg, #2a2a79 21.07%, #141461 102.35%);
      }
    }
  }

  .rating-stars {
    padding-bottom: 20px;
    border-bottom: 1px solid;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
}

.feedback-block {
  margin-top: 80px;
  display: flex;

  a {
    text-decoration: none;
    color: #000000;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 28px 20px;
    background: #ffffff;
    border: 1px solid #929eaf;
    box-sizing: border-box;
    border-radius: 3px;

    &:first-child {
      margin-right: 30px;
    }

    &:hover {
      cursor: pointer;
      background: #dfdfdf;
    }
  }

  tui-svg {
    height: 54px;
    width: 54px;
  }

  .text {
    padding-left: 20px;
    font-size: 20px;
    width: 200px;
  }
}

.-heartActive {
  ::ng-deep .stroke-color {
    fill: red !important;
    stroke: red !important;
  }
}

.import-button {
  ::ng-deep .stroke-color:hover {
    fill: red !important;
    stroke: red !important;
  }
}
