.content-page {
  overflow-x: hidden;
}

.main-page {
  font-family: "Montserrat";
  position: relative;
}

.block-about {
  margin-bottom: 42px;

  .info-block-company {
    padding-top: 48px;
  }

  .company-info {
    display: flex;
    justify-content: space-between;

    &__img {
      margin-right: 82px;
      border-radius: 5px;
    }
    &__description {
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      width: 530px;
    }
  }

  .company-info-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;

    &__services {
      background: linear-gradient(92.82deg, #0d0dff 18%, #003f86 100%);
      border-radius: 5px;
      border: none;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
      width: 250px;
      height: 54px;
      margin-right: 30px;

      &:hover {
        background: #191988;
      }
    }

    &__more {
      border: none;
      border: 1.5px solid #ff8a00;
      box-sizing: border-box;
      border-radius: 5px;
      font-weight: 500;
      font-size: 18px;
      color: #ff8a00;
      width: 250px;
      height: 54px;

      &:hover {
        background: rgb(189, 188, 185);
      }
    }
  }
}

.block-company-info {
  padding-bottom: 26px;

  .block-title {
    margin-bottom: 54px;
  }

  .company {
    padding: 80px 0 80px 0;

    .company-items {
      display: flex;
      justify-content: space-between;

      .item-block {
        background: white;
        border: 1.5px solid #929eaf;
        box-sizing: border-box;
        border-radius: 5px;
        width: 270px;
        height: auto;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        &__name {
          color: #929eaf;
          font-size: 18px;
        }

        &__description {
          color: #929eaf;
          font-size: 14px;
          display: none;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.block-stocks {
  background: linear-gradient(
    94.12deg,
    #4accf4 4.58%,
    #0d0dff 52.48%,
    #003f86 82.82%
  );

  .stocks-info {
    display: flex;
    justify-content: center;
    &__img {
      width: 430px;
      height: 500px;
      margin-top: -84px;
    }
  }

  .info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;

    &__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 49px;
      font-size: 40px;
      color: #ffffff;
      margin-bottom: 18px;
    }

    &__description {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      font-size: 24px;
      color: #ffffff;
      width: 400px;
      margin-bottom: 26px;
    }

    &__forum {
      width: 400px;
      height: 50px;
    }

    .btn {
      background: linear-gradient(91.61deg, #ff8a00 3.93%, #ffd600 88.05%);
      box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
      border-radius: 5px;
      color: white;
      font-weight: 600;
      border: 0;
      font-size: 18px;

      &:hover {
        background: linear-gradient(91.61deg, #ff8a00 3.93%, #2b94a7 88.05%);
      }
    }
  }
}
.form-checkbox {
  cursor: pointer;

  // margin-top: 34px;
  .form-check-input:focus {
    color: orange;
  }
  .form-check-label {
    margin-left: 14px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 0.5px solid;

    &.-active-color {
      color: #ff8a00;
    }
  }
}

.block-footer {
  height: calc(100vh - 61vh);
}

.feedback-block {
  margin-top: 80px;
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    padding: 22px 20px;
    background: #ffffff;
    border: 1px solid #929eaf;
    box-sizing: border-box;
    border-radius: 3px;

    &:first-child {
      margin-right: 30px;
    }

    &:hover {
      cursor: pointer;
      background: #dfdfdf;
    }
  }

  tui-svg {
    height: 54px;
    width: 54px;
  }

  .text {
    padding-left: 20px;
    font-size: 20px;
    width: 200px;
  }
}

.submit-form {
  ::ng-deep button {
    tui-wrapper {
      background: none;

      &:hover {
        background: none;
      }
    }
  }
}

.date-media {
  margin-bottom: 34px;
}

::ng-deep tui-dialog {
  .t-header {
    background: white;
    display: block !important;
    padding: 20px 0px 0px 0px;
  }
  .t-heading {
    margin-bottom: 6px !important;
  }

  .t-content {
    background: #ffffff !important;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

@media (max-width: 1256px) {
  .company-info {
    &__img {
      margin-right: 26px !important;
      width: 936px;
    }
    &__description {
      width: auto !important;
    }
  }
}

@media (max-width: 1192px) {
  .company-info {
    display: block !important;

    &__img {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1116px) {
  .company-info {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .company-info {
    display: block !important;

    &__img {
      width: 696px;
    }
  }

  .stocks-info {
    &__img {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .company-info {
    display: block !important;

    &__img {
      width: 516px;
    }
  }

  .company-items {
    display: block !important;

    .item-block {
      width: auto !important;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}

@media (max-width: 534px) {
  .info-content {
    display: block !important;

    .date-media {
      margin-top: 20px;
    }
    &__description {
      display: none;
    }
  }
  .company-info {
    display: block !important;

    &__img {
      width: 474px;
    }
  }
  .submit-form {
    &__date {
      display: block !important;

      .form-control {
        height: 54px !important;
        width: inherit !important;
        margin-bottom: 10px 0 20px 0;
      }
    }
  }

  .info-content__description {
    width: auto !important;
  }
}
@media (max-width: 488px) {
  .company-info {
    display: block !important;
    &__img {
      width: 352px !important;
    }
  }

  .info-content {
    height: 356px !important;
  }
  .date-media {
    display: block !important;

    input {
      margin-bottom: 10px;
    }
  }

}
