    <div class="main-component">
    <div class="main-page"
    [ngStyle]="{'background' : 'url(assets/img/backgrounds.svg)'}">
        <div class="main-info-block">
        <div class="info-block">
            <div class="info-block__title">
                Продажа и установка систем кондиционирования
            </div>
            <div class="info-block__description">
                “АСМ Инжиниринг” поможет создать
                 Вам комфортный микроклимат в помещении любого назначения в г. 
                 Ростове-на-Дону 
            </div>
            <button class="info-block__application">Оставить заявку</button>
        </div>
            <img class="application-img" src="assets/img/conditioner.svg"/>
    </div>

<ng-container>
    <div class="banner">
        <div class="header">
            <div class="header-price">
                <span class="header-price__new">45 990 ₽</span>
                <span class="header-price__old strikethrough">56 990 ₽</span>
            </div>
            <div class="header__bridge">
                Товар месяца
            </div>
        </div>
        <div class="info">
            <div class="info__description">
                Кондиционер Kentatsu KSGB53HZAN1/KSRB53HZAN1
            </div>
            <div class="info__stars"></div>
            <div class="info__previus">5 отзывов</div>
        </div>
        <div class="footer">
            <button class="footer__basket">В корзину</button>
            <img class="footer__important" src="assets/img/important.svg">
        </div>
    </div>
</ng-container>
</div>
<div class="test"></div>
</div>

