.main-component{
    height: 100vh;
    overflow: auto;
}



::-webkit-scrollbar {
    display: none;
}

.main-page{
    font-family: Montserrat;
    position: relative;
    height: 100%;
    width: 100%;
}

.main-info-block{
    padding-top: 160px;
    display: flex;
    justify-content: space-evenly;
}
.info-block{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__title{
        font-weight: 500;
        color: #000000;
        font-size: 48px;
    }

    &__description{
        font-weight: lighter;
        font-size: 24px;
        color: #000000;
    }

    &__application{
        width: 370px !important;
        background: linear-gradient(91.61deg, #FF8A00 3.93%, #FFD600 88.05%);
        box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
        border-radius: 5px;
        height: 64px;
        color: white;
        font-weight: 600;
        border: 0;
        font-size: 22px;

        &:hover{
            background: rgb(240, 165, 4);
        }
    }

}

.application-img{
width: 700px;
height: 400px;
}

.banner{
    position: absolute;
    top: 56%;
    left: 68%;
    padding: 10px 20px;
    width: 320px;
    height: 230px;
    font-weight: 500;
    background-color: white;
    border: 1.5px solid #929EAF;
    box-sizing: border-box;
    border-radius: 5px;

    .header{
        display: flex;
        justify-content: space-between;

        .header-price{
            display: flex;
            align-items: center;

            &__new{
                font-size: 24px; 
                color: #000000;
                margin-right: 28px;
            }

            &__old{
                font-size: 16px;
                color:#929EAF;
            }
            }

        &__bridge{
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            width: 60px;
            height: 60px;
            margin-top: -28px;
            border-radius: 50%;
            background: linear-gradient(141.62deg, #0D0DFF 20.95%, #003F86 86.46%);
        }
    }

    .info{
        &__previus{
            font-size: 16px;
            color:#929EAF;
        }
    }

    .footer{
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-top: 1.5px solid #929EAF;
        padding-top: 22px;

        &__basket{
            background: linear-gradient(91.3deg, #0D0DFF 21.07%, #2222B1 102.35%);
            border-radius: 5px;
            width: 240px;
            height: 46px;
            border: none; 
            color: white;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px
        }

        &__important{
            cursor: pointer;
            width: 32px;
            height: 27px;
        }
    }
}

.block{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

.info-block-company{
    // height: 1000px;
    padding-top: 126px;

    &__title{
        border-left: #0D0DFF 3px solid;
        padding-left: 20px;
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        color: #000000;
        display: flex;
        margin-bottom: 30px;

      
    }
}

.company-info{
    display: flex;

  &__img{
    margin-right: 82px;
    border-radius: 5px;
}
    &__description{
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        width: 530px;
    }
}


.company-info-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;

    &__services{
        background: linear-gradient(92.82deg, #0D0DFF 18%, #003F86 100%);
        border-radius: 5px;
        border: none; 
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        width: 250px;
        height: 54px;
        margin-right: 30px;

        &:hover{
            background: #191988;
        }
    }

    &__more{
        border: none; 
        border: 1.5px solid #FF8A00;
        box-sizing: border-box;
        border-radius: 5px;font-weight: 500;
        font-size: 18px;
        color: #FF8A00;
        width: 250px;
        height: 54px;

        &:hover{
            background: rgb(189, 188, 185);
        }
    }
}
}

    .block-company-info{
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        min-height: 400px;

            .block-title{
                margin-bottom: 40px;

            }
    } 

   


   
    .company-items{
        display: flex;

        .item-block{
            background: white;
            border: 1.5px solid #929EAF;    
            box-sizing: border-box;
            border-radius: 5px;
            width: 270px;
            height: auto;
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
           
                
                &__name{
                    color: #929EAF;
                    font-size: 18px;
                }
                
                &__description{
                    color: #929EAF;
                    font-size: 14px;
                    display: none;
                   
                }
            }

            // .item-block:hover {
            //     height: 200px;
            // }


            
        }

    .-active{
        height: 200px !important;
    }


     