<div class="content-page  ">
    <app-banner></app-banner>

    <div class="block-about container">
        <div class="info-block-company">
            <div class="block-title">
                О компании
            </div>
            <div class="company-info">
                <img class="company-info__img" src="assets/img/ingener.svg">
                <div class="company-info__description">
                    Наш ассортимент - инженерные системы. Широкий выбор
                    климатического оборудования, отопительных систем,
                    оборудования для вентиляции и очистки воздуха, очистки воды
                    и систем водоснабжения.
                    “АСМ Инжиниринг” предоставляет комплексные услуги, от
                    проектировки и подбора оборудования под индивидуальные
                    задачи до поставки и монтажа техники.
                    Благодаря прямому сотрудничеству с ведущими мировыми и
                    российскими поставщиками, ценообразование соответствует
                    установленным ценам производителей.
                    <div class="company-info-buttons">
                        <button href="products"
                            class="company-info-buttons__services"
                            (click)="route('attendance')">Услуги</button>
                        <button class="company-info-buttons__more"
                            (click)="route('company')">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="block-company-info"
        [ngStyle]="{'background' : 'url(assets/img/footer.svg)'}">
        <div class="company container">
            <div class="block-title">
                Почему нам доверяют ?
            </div>
            <div class="company-items">
                <div [ngClass]="{active: item}" class="item-block"
                    *ngFor="let item of items; let i = index ">
                    <div class="item-block__img">
                        <img ngClass="{i : 'hov'}" src="{{item.img}}" />
                    </div>
                    <div class="item-block__name">
                        {{item.name}}
                    </div>
                    <div class="item-block__description">
                        {{item.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-stocks">
        <div class="stocks-info">
            <img class="stocks-info__img" src="assets/img/letter.svg" />
            <div class="info-content">
                <span class="info-content__title">Будьте в курсе всех
                    акций!</span>
                <span class="info-content__description">
                    Оставьте адрес своей электронной почты и получайте
                    информацию об актуальных акциях и промокодах</span>
                <div>
                    <form
                        style="height: 131px;" class="submit-form"
                        [formGroup]="submitForm">
                        <div style="display: flex;">
                            <input type="email" class="form-control"
                                formControlName="inputValue"
                                name="email"
                                placeholder="Введите эл.почту"
                                aria-describedby="button-addon2" required />
                            <button ngDefaultControl tuiButton
                                [disabled]="submitForm.controls['inputValue'].invalid || submitForm.controls['checkbox'].value === false"
                                class="btn btn-outline-secondary"
                                type="submit"
                                (click)="onClick(content, header, 'm')">Отправить
                            </button>
                        </div>
                        <div style="color: rgb(141, 12, 12);"
                            *ngIf="submitForm.controls['inputValue'].invalid && (submitForm.controls['inputValue'].dirty  || submitForm.controls['inputValue'].touched)">
                            <div
                                *ngIf="submitForm.controls['inputValue'].errors?.['required']">
                                Поле невалидно
                            </div>
                            <div
                                *ngIf="submitForm.controls['inputValue'].errors?.['minlength']">
                                Наименование почты должно быть минимум 8
                                символов
                            </div>
                        </div>
                        <div *ngIf="submitForm.controls['inputValue'].valid"
                            class="form-checkbox">
                            <input
                                formControlName="checkbox"
                                class="form-check-input"
                                type="checkbox">
                            <span class="form-check-label"
                                [ngClass]="{'-active-color ': isActive}">
                                Я согласен с Политикой
                                конфиденциальности
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ng-template
        #content
        let-observer>
        <div class="auth-container" style="padding: 20px;">
            <span>Мы очень рады, что вы доверятее нашей компании. Теперь вы
                точно не пропустите ни одну акцию!</span>
        </div>
    </ng-template>

    <ng-template #header let-observer>
        <div class="header">
            <img
                [src]="'assets/img/main/action-submit.svg' "
                alt="Cool" />
        </div>
    </ng-template>
    <app-categories></app-categories>
    <app-footer></app-footer>
</div>