.contents-page {
  ::ng-deep tui-dialog {
    .t-content {
      background: white !important;
      .t-heading {
        font-size: medium !important;
        display: flex;
        justify-content: center;
      }
    }
    section {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  label {
    margin-bottom: 10px;
  }
}

.contents-page {
  max-width: 192px;
}

.charactects-conditioners-block {
  button {
    color: #929eaf;
    border: 0;
    background: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-family: "Montserrat";
    font-style: normal;
  }

  label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  .type-conditioners {
    &__item {
      margin-bottom: 22px;

      &:hover {
        background: linear-gradient(91.6deg, #ff8a00 17.78%, #ffd600 98.26%);
        border-radius: 5px;
        color: #ffffff;
      }
    }

    .type-conditioners-onclick {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .brands-block,
  .series-conditioners {
    display: flex;
    justify-content: space-between;

    button:hover {
      color: #ff8a00;
    }
  }

  .inventors-conditioners {
    margin-bottom: 22px;

    button:hover {
      color: #ff8a00;
    }
  }

  ::ng-deep tui-wrapper {
    .t-input {
      color: black !important;
    }
  }
}

.content {
  &__input {
    margin: 20px 0 56px 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    ::ng-deep tui-svg {
      margin-left: 20px;
      .src {
        width: 34px;
      }
    }
  }
  input {
    height: 56px;
    min-width: 430px;
    border-radius: 20px;

    &:focus {
      border: 1px solid #ff8a00;
    }
  }
}

.isAdminView {
  border: 1px solid;
  margin-bottom: 8px;
}

.-isActive {
  background: linear-gradient(
    91.6deg,
    #ff8a00 17.78%,
    #ffd600 98.26%
  ) !important;
  border-radius: 5px !important;
  color: #ffffff !important;
}
