<div class="contents-page">
    <form [formGroup]="selectConditonersForm">
        <div data-aos-easing="linear"
            data-aos-duration="500" data-aos="fade-right"
            class="charactects-conditioners-block">
            <div class="type-block">
                <label>Тип сплит систем</label>
                <div [ngClass]="isAdmin ? 'isAdminView' : ''"
                    class="type-conditioners" *ngFor="let item of typesArray">
                    <button
                        [ngClass]="isActiveType[item.id] ? '-isActive' : ''"
                        class="type-conditioners__item "
                        (click)="getItemTypeValue(item)"
                        [title]="item.name">{{item.name}}</button>
                    <div class="type-conditioners-onclick">
                        <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                            (click)="getItemToUpdate(item, isTypeEdit = true)"
                            src="assets/img/product/edit.svg">
                        </tui-svg>
                        <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                            src="assets/img/products/deleteBasket.svg"
                            (click)="getItemToDelete(item.id,isDeletedType = true)">
                        </tui-svg>
                    </div>
                </div>
                <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                    (click)="getItemToCreate(isAddedType = true,TypeForm.value)"
                    src="assets/img/product/add.svg">
                </tui-svg>
            </div>
            <!-- <div class="inventors-conditioners">
                <label>Инвентор</label>
                <div class="inventorts-conditioners__items">
                    <button (click)="checkInventorts()">Есть</button>
                    <button>Нет</button>
                </div>
            </div> -->
            <div style="margin-bottom:22px" class="series-block">
                <label>Мощность</label>
                <div class="series-conditioners">
                    <div class="series-conditioners__items"
                        *ngFor="let item of powersArray">
                        <button>{{item.name}}</button>
                        <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                            (click)="getItemToUpdate(item, isUpdatePower = true)"
                            src="assets/img/product/edit.svg">
                        </tui-svg>
                        <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                            src="assets/img/products/deleteBasket.svg"
                            (click)="getItemToDelete(item.id,isDeletePower = true)">
                        </tui-svg>
                    </div>
                </div>
                <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                    (click)="getItemToCreate( isCreatePower = true, powerForm.value)"
                    src="assets/img/product/add.svg">
                </tui-svg>
            </div>
            <div class="brands-conditioners" [formGroup]="BrandForm">
                <label>Бренд</label>
                <div class="brands-block"
                    *ngFor="let item of brandsArray,let i = index">

                    <span [title]="item.name"
                        style="width: 74px;"
                        class="max-text-content">{{item.name}}</span>
                <input type="checkbox"
                        (change)="getItemBrandValue(item)" />

                    <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                        (click)="getItemToUpdate(item, isEditBrand = true)"
                        src="assets/img/product/edit.svg">
                    </tui-svg>
                    <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                        src="assets/img/products/deleteBasket.svg"
                        (click)="getItemToDelete(item.id,isDeletedBrand = true)">
                    </tui-svg>
                </div>
                <tui-svg *ngIf="isAdmin" style="cursor: pointer;"
                    (click)="getItemToCreate(isAddedBrand = true,BrandForm.value)"
                    src="assets/img/product/add.svg">
                </tui-svg>
            </div>
        </div>

        <button class="filter-button"
            (click)="filterItems(filterSetType,filterSetBrand)">Применить</button>
    </form>


    <ng-template
        #contentUpdate
        let-observer>
        <h3>{{isEditBrand ? 'Вы
            уверены
            что хотите изменить текущий Бренд ?' : 'Вы
            уверены
            что хотите изменить текущий Тип ?'}} </h3>
        <div>
            <form [formGroup]="isEditBrand ? BrandForm : TypeForm"
                (ngSubmit)="isEditBrand ? onSubmitBrand(itemValue) : onSubmitType(itemValue)">
                <div class="content">
                    <div class="content__input">
                        <div style="height: 80px" class="test">
                            <input type="text"
                                [placeholder]="itemValue.name"
                                [disabled]="false"
                                [(ngModel)]="itemValue.name"
                                formControlName="name">
                            <div class="alert-message"
                                *ngIf="isEditBrand ? BrandForm.controls['name'].errors?.['required'] && BrandForm.controls['name'].dirty : TypeForm.controls['name'].errors?.['required'] && TypeForm.controls['name'].dirty">
                                Поле невалидно
                            </div>
                        </div>
                    </div>
                    <div class="sumbit-buttons">
                        <button tuiButton appearance="primary"
                            class="submit-buttons__submit"
                            type="submit">Подтвердить</button>
                        <button appearance="accent"
                            tuiButton
                            class="submit-buttons__cancel" type="button"
                            (click)="cancel(observer.complete())">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template
        #contentAdd
        let-observer>
        <h3>{{isAddedBrand ? 'Введите название нового бренд ?' :
            'Введите название нового типа ?' }} </h3>
        <div>
            <form [formGroup]="isAddedBrand ? BrandForm : TypeForm"
                (ngSubmit)="isAddedBrand ? onSubmitBrand(BrandForm.value) : onSubmitType(TypeForm.value)">
                <div class="content">
                    <div class="content__input">
                        <input placeholder="Введите новое название" type="text"
                            formControlName="name" required>
                        <div class="alert-message"
                            *ngIf="isAddedBrand ? BrandForm.controls['name'].errors?.['required'] && BrandForm.controls['name'].dirty : TypeForm.controls['name'].errors?.['required'] && TypeForm.controls['name'].dirty">
                            Поле невалидно
                        </div>
                    </div>
                    <div class="sumbit-buttons">
                        <button
                            [disabled]="isAddedBrand ? BrandForm.invalid : TypeForm.invalid"
                            tuiButton appearance="primary"
                            class="submit-buttons__submit"
                            type="submit">Подтвердить</button>
                        <button appearance="accent"
                            tuiButton

                            class="submit-buttons__cancel" type="button"
                            (click)="cancel(observer.complete())">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template
        #contentDelete
        let-observer>
        <h3 style="margin-bottom: 20px;">{{isDeletedBrand ? 'Вы уверены что
            хотите удалить этот бренд ?' :
            'Вы уверены что хотите удалить этот тип ?' }}?
        </h3>
        <div>
            <div class="sumbit-buttons">
                <button tuiButton appearance="primary"
                    class="submit-buttons__submit"
                    (click)="isDeletedBrand ? onSubmitBrand(valueId) :  onSubmitType(valueId)"
                    type="submit">Подтвердить</button>
                <button appearance="accent"
                    tuiButton
                    class="submit-buttons__cancel" type="button"
                    (click)="cancel(observer.complete())">Отменить</button>
            </div>
        </div>
    </ng-template>


    <ng-template
        #contentPowerUpdate
        let-observer>
        <h3>{{ 'Вы уверены что хотите изменить текущую мощность'
            }}</h3>
        <div>
            <form [formGroup]="powerForm"
                (ngSubmit)="onSubmitPower(itemValue, isUpdatePower=true)">
                <div class="content">
                    <div class="content__input">
                        <input type="number"
                            [placeholder]="itemValue.name"
                            formControlName="name" required>
                        <div class="alert-message"
                            *ngIf="powerForm.controls['name'].errors?.['required'] && powerForm.controls['name'].dirty">
                            Поле невалидно
                        </div>
                    </div>
                    <div class="sumbit-buttons">
                        <button tuiButton appearance="primary"
                            [disabled]="powerForm.invalid"
                            class="submit-buttons__submit"
                            type="submit">Подтвердить</button>
                        <button appearance="accent"
                            tuiButton
                            class="submit-buttons__cancel" type="button"
                            (click)="cancel(observer.complete())">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template
        #contentPowerCreate
        let-observer>
        <h3>{{ 'Вы уверены что хотите добавить новую мощность'
            }}</h3>
        <div>
            <form [formGroup]="powerForm"
                (ngSubmit)="onSubmitPower(powerForm.value, isCreatePower == true)">
                <div class="content">
                    <div class="content__input">
                        <input type="number"
                            formControlName="name">
                    </div>
                    <div class="alert-message"
                        *ngIf="powerForm.controls['name'].errors?.['required'] && powerForm.controls['name'].dirty">
                        Поле невалидно
                    </div>
                    <div class="sumbit-buttons">
                        <button tuiButton appearance="primary"
                            [disabled]="powerForm.invalid"
                            class="submit-buttons__submit"
                            type="submit">Подтвердить</button>
                        <button appearance="accent"
                            tuiButton
                            class="submit-buttons__cancel" type="button"
                            (click)="cancel(observer.complete())">Отменить</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>


    <ng-template
        #contentPowerDelete
        let-observer>
        <h3 style="margin-bottom: 20px;">{{
            'Вы уверены что хотите удалить эту мощность ?' }}?
        </h3>
        <div>
            <div class="sumbit-buttons">
                <button tuiButton appearance="primary"
                    class="submit-buttons__submit"
                    (click)="onSubmitPower(valueId)"
                    type="submit">Подтвердить</button>
                <button appearance="accent"
                    tuiButton
                    class="submit-buttons__cancel" type="button"
                    (click)="cancel(observer.complete())">Отменить</button>
            </div>
        </div>
    </ng-template>




</div>