
/** 400 */
@font-face {
    font-family: Roboto-regular;
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

/** 500 */
@font-face {
    font-family: Roboto-medium;
    src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
}

/** 600 */
@font-face {
    font-family: Roboto-Bold;
    src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}