<ng-template
    #content
    let-close="close"
    let-observer>
    <div class="auth-container">

        <form [formGroup]="authForm"
            (ngSubmit)="onSumbit(isErrorValue == true ? observer.completed() : '')">
            <div class="auth-container-data">
                <div style="height: 80px;">
                    <input
                        style="width: 100%;"
                        type="email"
                        formControlName="email"
                        name="email"
                        placeholder="Электронная почта">


                    <div class="alert-message"
                        *ngIf="authForm.controls['email'].errors?.['required'] && authForm.controls['email'].dirty">
                        Поле невалидно
                    </div>
                    <div class="alert-message"
                        *ngIf="authForm.controls['email'].errors?.['minlength']">
                        Наименование почты должно быть минимум 8
                        символов
                    </div>
                </div>
                <div style="height: 80px;">
                    <input style="margin-bottom: 0; width: 100%;"
                        formControlName="password" name="password"
                        [type]="show ? 'text' : 'password'"
                        value="FakePSW"
                        id="myInput"
                        placeholder="Пароль"
                        required>

                    <div class="alert-message"
                        *ngIf="authForm.controls['password'].errors?.['required'] && authForm.controls['password'].dirty">
                        Поле невалидно
                    </div>
                    <div class="alert-message"
                        *ngIf="authForm.controls['password'].errors?.['minlength']">
                        Пароль должен быть не менее 5 символов
                    </div>
                </div>
                <div class="showPassword">
                    <input class="showPassword__content" type="checkbox"
                        (click)="showPassword()" />{{show ?
                    'Скрыть' :
                    'Показать пароль'}}
                </div>
                <div style="height: 80px">
                    <div class="buttons"
                        style="display: flex; justify-content:space-between">
                        <button
                            type="submit"
                            tuiButton
                            [disabled]="authForm.invalid || authForm.disabled">
                            Войти
                        </button>
                        <button tuiButton
                            (click)="closeForm()">Вернуться
                            обратно</button>
                    </div>
                    <label style="font-size: 14px"
                        class="alert-message">{{errorMessage}}</label>
                </div>
            </div>
            <!-- <div *ngIf="!isLoggedIn" class="auth-helper">
                <button (click)="isLoggedIn = !isLoggedIn">Регистрация</button>
                <button>Не помню пароль</button>
            </div> -->
        </form>
    </div>
</ng-template>

<ng-template #header let-observer
    let-close="close">
    <div class="header">
        <img
            [src]="'assets/img/autorization/User.svg' "
            alt="Cool" />
    </div>
</ng-template>