<button
    size="m"
    class="tui-space_right-2 tui-space_bottom-2"
    (click)="onClick(content, header, 'm')">
    Show
</button>

<ng-template
    #content
    let-observer>
    <div class="auth-container">
        <form [formGroup]="autorizationForm">

            <div class="auth-container-data">
                <input formControlName="email"
                    type="email"
                    placeholder="Электронная почта">
                <input formControlName="password" type="password"
                    placeholder="Пароль">
                <input *ngIf="isLoggedIn" formControlName="password"
                    type="password"
                    placeholder="Пароль еще раз">
                <span *ngIf="isLoggedIn === true" class="confirm">Регистрируясь
                    вы
                    соглашаетесь
                    с <a href="company"
                        style="color:#ff8a00; cursor: pointer;">Политикой
                        конфиденциальности</a>
                </span>
                <button style="margin-bottom: 20px;" *ngIf="isLoggedIn"
                    type="submit"
                    (click)="observer.complete()">
                    Зарегестрироваться
                </button>
                <button [ngClass]="isLoggedIn ? 'isLogginContext' : '' "
                    type="submit"
                    [disabled]="this.autorizationForm.invalid || this.autorizationForm.disabled"
                    (click)="observer.complete()">
                    Войти
                </button>
            </div>
            <div *ngIf="!isLoggedIn" class="auth-helper">
                <button (click)="isLoggedIn = !isLoggedIn">Регистрация</button>
                <button>Не помню пароль</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #header let-observer>
    <div class="header">
        <img
            [src]="isLoggedIn ? 'assets/img/autorization/User.svg' : 'assets/img/autorization/security.svg' "
            alt="Cool" />
    </div>
</ng-template>