<div
    class="product-block">
    <header class="sort">
        <span style="margin: 0 20px 0 20px">Сортировать по: </span>
        <tui-select
            [valueContent]="stringify(sortBy)"
            placeholder="Новинка"
            tuiTextfieldSize="s"
            formControlName="typeId">
            <tui-data-list *tuiDataList>
                <button *ngFor="let item of sortBy | keyvalue"
                    [title]="item.value"
                    tuiOption
                    [value]="item.key">
                    {{item.value}}
                </button>
            </tui-data-list>
        </tui-select>

        <button>Сортировать</button>
        <button (click)="getAllProducts()">Сбросить фильтры</button>

        <button class="add-product" *ngIf="isAdmin"
            (click)="onClick(content,  'l')">+</button>
    </header>
    <div class="product-block__items">
        <div class="content-block"
            *ngFor="let item of devicesArray | paginate : { itemsPerPage: pageCount, currentPage: currentPage, totalItems: deviceCount}; let i = index">
            <img (click)="openProductCard(item.id)" class="content-block__img"
                src="http://localhost:7000/{{item.img}}" />
            <div class="content-price">
                <span
                    class="content-price__newPrice"
                    [title]="item.price">{{item.price}}</span>
                <span
                    class="content-price__oldPrice strikethrough">
                    {{item.oldprice }}
                </span>
                <span *ngIf="item.oldprice" class="content-price__status">
                    Хит продаж
                </span>
            </div>
            <div [title]="item.name"
                class="content-block__description max-text-content">
                {{item.name}}
            </div>

            <div *ngIf="!isAdmin" class="content-buttons__add"
                (click)="addToCart(item)">
                В корзину
            </div>
            <div *ngIf="isAdmin" class="content-buttons">
                <button (click)='getOneItem(item, isEdit)' type="button"
                    class="content-buttons__edit">Редактирова</button>

                <tui-svg style="cursor:pointer"
                    (click)='getOneItemToDelete(item)'
                    src="assets/img/products/deleteBasket.svg">
                </tui-svg>
            </div>
        </div>

    </div>
    <tui-pagination
        [length]="ultraTotal"
        (indexChange)="showNextPage($event)">
    </tui-pagination>

</div>

<ng-template #star>
    <tui-svg src="assets/img/products/star.svg"></tui-svg>
</ng-template>
<ng-template>


</ng-template>
<ng-template
    #content
    let-observer>
    <h3 style="margin: 20px 0px 20px 0px;">Основная информация</h3>
    <form class="table-data" name="fileinfo"
        style="border: 1px solid black;  display:flex; flex-direction:column"
        [formGroup]="deviceForm"
        (ngSubmit)="onSubmit(this.deviceForm.value, isEdit)">
        <button type="button" (click)="isEdit = !isEdit">Edit</button>
        <div class="first">
            <div class="device-block">
                <span>Наименование</span>
                <input class="device-item"
                    placeholder="Введите наименование товара"
                    type="text" formControlName="name">
            </div>
            <div class="device-block">
                <span>Тип бренда</span>
                <tui-select
                    [valueContent]="stringify(brandsNameDictionary)"
                    placeholder="Выберите услугу"
                    tuiTextfieldSize="s"
                    formControlName="brandId">
                    <tui-data-list *tuiDataList>
                        <button
                            *ngFor="let item of brandsNameDictionary | keyvalue"
                            [title]="item.value"
                            tuiOption
                            [value]="item.key">
                            {{item.value}}
                        </button>
                    </tui-data-list>
                </tui-select>
            </div>
        </div>
        <div class="first">
            <div class="device-block">
                <span>Стоимость</span>
                <input style="width: 170px" placeholder="Введите цену"
                    type="number"
                    formControlName="price" />
                <input style="width: 170px" placeholder="Введите старую цену"
                    type="number"
                    name="oldprice"
                    formControlName="oldprice" />
            </div>
            <div class="device-block">
                <span>Тип сплит системы</span>
                <tui-select
                    [valueContent]="stringify(typesNames)"
                    placeholder="Выберите услугу"
                    tuiTextfieldSize="s"
                    formControlName="typeId">
                    <tui-data-list *tuiDataList>
                        <button *ngFor="let item of typesNames | keyvalue"
                            [title]="item.value"
                            tuiOption
                            [value]="item.key">
                            {{item.value}}
                        </button>
                    </tui-data-list>
                </tui-select>
            </div>
        </div>

        <div class="first">
            <div class="device-block">
                <span>Изображение</span>
                <input #fileInput
                    multiple accept='image/*'
                    type="file"
                    style="display: none;"
                    required
                    name="file"
                    placeholder="Изображение"
                    (change)="uploadFile($event)"
                    formControlName="img">
                <button type="button" (click)="fileInput.click()">Загрузить
                    новое изображение</button>
                <img
                    src="http://localhost:7000/{{deviceForm.get('img')?.value}}" />
            </div>
        </div>
        <div class="submit-form">
            <button type="submit" tuiButton
                size="m"
                class="tui-space_right-3"
                [disabled]="deviceForm.invalid">{{isEdit
                ? 'Сохранить изменения' : 'Добавить'}}</button>
            <button tuiButton appearance="secondary"
                (click)="cancel(observer.complete())"
                type="button"
                size="m"
                class="secondary-button">Отмена</button>
        </div>
    </form>
</ng-template>

<ng-template
    #contentDelete
    let-observer>
    <div style="display:flex;margin-bottom: 20px" class="header">
        <h3>Вы уверены что хотите удалить товар
        </h3>
        <h4>{{itemValueProduct.name}}?</h4>
    </div>
    <div>
        <div class="sumbit-buttons">
            <button tuiButton appearance="primary"
                class="submit-buttons__submit"
                (click)="onSubmitDelete(itemValueProduct.id)"
                type="submit">Подтвердить</button>
            <button appearance="accent"
                tuiButton
                class="submit-buttons__cancel" type="button"
                (click)="cancel(observer.complete())">Отменить</button>
        </div>
    </div>
</ng-template>