<div class="footer-page">
    <div class="list container">
        <ul class="list-group">
            <li class="list-group-item header">Меню</li>
            <li class="list-group-item">О компании</li>
            <li class="list-group-item">Услуги</li>
            <li class="list-group-item">Каталог</li>
            <li class="list-group-item">Контакты</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item header">Услуги</li>
            <li class="list-group-item">Монтаж</li>
            <li class="list-group-item">Чистка</li>
            <li class="list-group-item">Заправка</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item header">График работы</li>
            <li class="list-group-item">Пн-Пт 09:00 - 18:00</li>
            <li class="list-group-item"> Сб 10:00 - 14:00</li>
            <li class="list-group-item">Вс выходной</li>
            <li class="icons-block">
                <tui-svg (click)="showWhatsUpPage()" class="icons-block__item"
                    src="assets/img/whatsUp.svg">
                </tui-svg>
                <tui-svg (click)="showTelegramPage()" class="icons-block__item"
                    src="assets/img/telegram.svg">
                </tui-svg>
                <tui-svg (click)="showVkPage()" class="icons-block__item"
                    src="assets/img/vk.svg">
                </tui-svg>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item header">Контакты</li>
            <li class="list-group-item" (click)="openContacts()">
                <tui-svg
                    class="list-group-item__icon"
                    src="assets/img/phone.svg">
                </tui-svg>
                <span>8(912)221-31-91</span>
            </li>
            <li class="list-group-item">
                <tui-svg
                    class="list-group-item__icon"
                    src="assets/img/mail-icon.svg">
                </tui-svg>
                <span>asmeng@mail.ru</span>
            </li>
            <li class="list-group-item" (click)="openContacts()">
                <tui-svg (click)="showMap(isMap)"
                    class="list-group-item__icon"
                    src="assets/img/location.svg">
                </tui-svg>
                <span>344023, г. Ростов-на-Дону, пр. Ленина 1</span>
            </li>
        </ul>
    </div>
    <span class="list-advertising">© АСМ Инжиниринг, 2022</span>
</div>
<!-- <div class="full" id="map"></div> -->