.content-page {
  padding-top: 100px;
  // height: 100vh !important;
}

.products {
  display: flex;
}

.product-block {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.charactects-conditioners-block {
  ::ng-deep tui-svg {
    background: #ff8a00;
  }

  button {
    color: #929eaf;
    border: 0;
    background: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-family: "Montserrat";
    font-style: normal;
  }

  label {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  .type-conditioners {
    &__item {
      margin-bottom: 22px;

      &:hover {
        background: linear-gradient(91.6deg, #ff8a00 17.78%, #ffd600 98.26%);
        border-radius: 5px;
        color: #ffffff;
      }
    }
  }

  .brands-block,
  .series-conditioners {
    display: flex;
    justify-content: space-between;

    button:hover {
      color: #ff8a00;
    }
  }

  .inventors-conditioners {
    margin-bottom: 22px;

    button:hover {
      color: #ff8a00;
    }
  }

  ::ng-deep tui-wrapper {
    .t-input {
      color: black !important;
    }
  }
}
.block {
  display: flex;
}

.content-block {
  max-height: 338px;
  width: 270px;
  padding: 20px;
  border: 1px solid #929eaf;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 0 20px 20px;

  &__img {
    width: 212px;
    height: 180px;

    &:hover {
      transition: 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }

  &:hover {
    border: 1px solid rgba(231, 160, 27, 0.849);
  }

  .content-price {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;

    &__newPrice {
      font-weight: 550;
      font-size: 20px;
      line-height: 23px;
      color: black;
    }

    &__oldPrice {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #929eaf;
    }

    &__status {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #ff8a00;
    }
  }

  .content-buttons {
    border-top: 1px solid #929eaf;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;

    &__add {
      cursor: pointer;
      color: white;
      background: linear-gradient(91.3deg, #0d0dff 21.07%, #2222b1 102.35%);
      border-radius: 3.63636px;
      font-size: 14px;
      height: 32px;
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #191988;
      }
    }
  }
}

.import-button {
  ::ng-deep .stroke-color:hover {
    fill: red !important;
    stroke: red !important;
  }
}

::ng-deep tui-pagination {
  .dots {
    color: black !important;
  }
  button {
    tui-wrapper {
      .t-content {
        color: black;
      }
    }
  }
}
