<div class="content-page">
    <div class="content-block" *ngFor="let item of itemsArray">
        <img class="content-block__img" src="{{item.img}}" />
        <div class="content-price">
            <span class="content-price__Newprice">{{item.newPrice}}</span>
            <span
                class="content-price__oldPrice strikethrough">{{item.oldPrice}}</span>
            <span class="content-price__status">Хит продаж</span>
        </div>

        <div class="content-block__description">{{item.description}}</div>
        <div class="content-block__opinie">{{item.opinie}}</div>
        <div class="content-buttons">
            <div class="content-buttons__add">В корзину</div>
            <img src="assets/img/products/heart.svg" />
        </div>
    </div>
</div>