<div class="content-page">
    <div class="products container">
        <app-category-settings [brandId]="brandIdToProducts"
            [isAdmin]="isAdminUser"></app-category-settings>
        <app-items [isAdmin]="isAdminUser"></app-items>
    </div>

    <button (click)="testAdmin()">isAdmin</button>

    <!-- <div style=" width: 204px; display:flex; flex-direction:column"
        [formGroup]="addDeviceForm">
        <input placeholder="brandId 1-9 (5)" type="number"
            formControlName="brandId">
        <input placeholder="typeId 9-12" type="number" formControlName="typeId">
        <input placeholder="name" type="text" formControlName="name">
        <input placeholder="price" type="number" formControlName="price">
        <input placeholder="img" formControlName="img">
        <button type="submit" (click)="create(test)">Add</button>
    </div> -->
    <app-footer></app-footer>
</div>